<h1>{{categoria.nome}}</h1>
 
{{#each noticias}}

<div class="card mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <img src="/images/{{imagem}}" alt="icone" class="rounded-circle" style="width: 180px; height: 180px;" /><br>
        <a href="/noticia/{{slug}}"><button class="btn btn-azul">Leia mais</button></a>
        <hr>
        <small><b>Data de publicação:</b> {{#formatDate data}}{{/formatDate}}</small>
    </div>
</div>

{{else}}
<h5>Nenhuma noticia</h5>
{{/each}}
